{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Video 
{% endblock %}

{% block content %}
<!--
    <video width="800" controls id="video">
        <source src="{% static 'emotions_video/Video1.mp4' %}" type = "video/mp4">
    </video>
-->


<iframe src="https://www.youtube.com/embed/MKWWhf8RAV8?autoplay=1&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&color=white&controls=0&disablekb=1" width=800px height=600px title="Tahiti Surf with Anthony Walsh and Matahi Drollet" frameborder="0"></iframe>
    <p>
        Hazle click al video para iniciarlo.
        El botón para pasar a la siguiente página aparecerá luego de que culmine el video.
    </p>

    <script>
        const video = document.querySelector('video');
        video.addEventListener('ended', (event) => {
            const button = document.getElementById("Next");
            button.style.visibility = "visible";
        });
        $(".media-youtube-player").contents().find(".ytp-pause-overlay").remove();
    </script>

    <button class="otree-btn-next btn btn-primary" id="Next" style="visibility: hidden;">Next</button>

{% endblock %}
