{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Video 
{% endblock %}

{% block content %}
<!--
    <video width="800" controls id="video">
        <source src="{% static 'emotions_video/Video3.mp4' %}" type = "video/mp4">
    </video>
-->
<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* Aspect ratio for 16:9 videos */
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }


    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

</style>
<p>
    Por favor, mira el video de principio a fin y no cambies de video, ventana o pestaña en ningún momento.
</p>
<p>
    Este es un video 360, y puedes usar el mouse para ver diferentes ángulos y elementos del video.
</p>
<p>
    Hazle click al video para iniciarlo. El botón para pasar a la siguiente página aparecerá cuando el video termine.
</p>

<div class="video-container">
<iframe src="https://www.youtube.com/embed/SmhuzTzUKQY?autoplay=1&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&color=white&controls=0&disablekb=1" width=100% height=800px title="A YouTube video" frameborder="0"></iframe>
</div>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
        const myButton = document.getElementById('myButton');
        
        setTimeout(() => {
            myButton.style.display = 'inline-block';
        }, 847000); // milisegundos - 14:07 minutos
        }); 
    </script>
    <div id="myButton" style="display: none;">
        {% next_button %}
    </div>



    {% include Constants.Contactenos %}    

{% endblock %}
