{% block title %}
Página de bienvenida
{% endblock %}

{% block content %}
</p>
Bienvenido al Laboratorio de Economía Experimental de la Universidad del Pacífico.
</p>
</p>
Gracias por participar en este estudio.
</p>
</p>
Este es un estudio oficial del E2LabUP y cuenta con la aprobación ética de la Universidad del Pacífico.
</p>
</p>
Está prohibido el uso de este logo sin autorización del laboratorio.
</p>
</p>
Para que la sesión se realice de manera correcta, por favor mantente atento a la ventana de interacción y participa activamente.
</p>

{% next_button %}  



{% include Constants.Contactenos %}

{% endblock %}
