{% block title %}
    Instrucciones
{% endblock %}

{% block content %}
<p> 
    En este experimento, estamos usando tu cámara web para codificar algunos indicadores numéricos de sus gestos.</p>
<p>   
<p>
    Durante el transcurso de esta sesión, responderás dos cuestionarios, al inicio y al final, y mirarás un video que dura entre 2 a 14 minutos.
    </p>
<p>
    Solamente por participar en esta sesión, recibirás un pago de 5 soles.
</p>
<p>
    Adicionalmente, al final del video y el segundo cuestionario, te haremos dos preguntas sobre el video. Si respondes la primera pregunta correctamente, recibirás 10 soles adicionales. 
</p>
<p>    
    El pago se hará por medio de una transferencia electrónica al final de la sesión.
    </p>
    <p>
        Cualquier pregunta del experimento, no dude en comunicarse con nosotros por medio de WhatsApp <b>(+51 985730063) </b> o correo electrónico <b>(e2lab@up.edu.pe)</b>.
    </p>
    

    {% next_button %}

    {% include Constants.Contactenos %}

{% endblock %}


