{% block title %}
    Instrucciones
{% endblock %}

{% block content %}
<p> 

    En este experimento, estamos usando tu cámara web desde la otra pestaña que tuviste que conectarte inicialmente.
    Para que las fotos puedan tomarse sin problemas, necesitas tener la primera pestaña que abriste en primera plana de tu computadora.
    Puedes minimizar la pestaña y dejarlo en un lado pequeño de tu pantalla, como puedes observar en las siguientes imágenes:
    <img />
    <img />
    La primera imagen muestra la primera pestaña que abriste minimizada y en una esquina de la pantalla, mientras que la mayor  parte de 
    la pantalla esta en la pestaña que estás realizando el experimento ahora mismo y que vas a responder activamente. 
    La segunda imagen muestra cómo debería estar tu pantala en todo el transcurso de la sesión experimental
</p>
<p>
    Cualquier pregunta del experimento, no dudes en comunicarte con nosotros por medio de WhatsApp (+51 985730063) o correo electrónico (e2lab@up.edu.pe).
</p>

    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
    <br>
    <img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
    <br>
    <img height=10% width=20% src="{% static 'logoup.png'%}"/>
    
{% endblock %}


