{% block title %}
    Instrucciones de Uso de la Ventana de Activación de Cámara Web 
{% endblock %}

{% block content %}
<p> 
    En este experimento, estamos usando tu cámara web desde la Ventana de Activación de Cámara para codificar algunos indicadores numéricos de sus gestos. 
    Para que la Ventana de Activación de Cámara y ésta ventana (que es la Ventana Principal) funcionen apropiadamente, necesitas tenerlas ambas en primer plano en tu computadora. 
    Sin embargo, la Ventana de Activación de Cámara debe ocupar un espacio reducido en tu pantalla para que la Ventana Principal del experimento se vea bien. 
    Por favor mueve, ajusta y ubica las pantallas como se muestra en las siguientes dos imágenes:
</p>
    <img />
    <p>Es decir debería quedar así:</p>
    <img />
<p>
    Debes mantener esta configuración de las dos ventanas en todo el transcurso de la sesión.
    Finalmente, asegúrate que estar en un ambiente con suficiente iluminación y que tu rostro esté frente a la cámara. Evita cubrirlo con tus manos u otros objetos durante la sesión. 
</p>
    <p>
        Cualquier pregunta del experimento, no dudes en comunicarte con nosotros por medio de WhatsApp (+51 985730063) o correo electrónico (e2lab@up.edu.pe).
    </p>
        


    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
    <br>
    <img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
    <br>
    <img height=10% width=20% src="{% static 'logoup.png'%}"/>
    
{% endblock %}


