{% block title %}
    Instrucciones
{% endblock %}

{% block content %}
<p>
    Durante el transcurso de esta sesión, responderás dos cuestionarios, al inicio y al final, y mirarás un video que dura entre 2 a 10 minutos.
    Solamente por participar en esta sesión, recibirás un pago de 5 soles.
    Adicionalmente, al final del video y el segundo cuestionario, te haremos dos preguntas sobre el video. Si las respuestas son correctas recibirás 10 soles adicionales. 
    El pago se hará por medio de una transferencia electrónica al final de la sesión.
    </p>
    <p>
        Cualquier pregunta del experimento, no dude en comunicarse con nosotros por medio de WhatsApp (+51 985730063) o correo electrónico (e2lab@up.edu.pe).
    </p>
    

    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
    <br>
    <img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
    <br>
    <img height=10% width=20% src="{% static 'logoup.png'%}"/>

{% endblock %}


