{% block title %}
    Gracias
{% endblock %}

{% block content %}
    <p>Ya terminó el cuestionario. Ahora procederá a ver el video correspondiente.</p>
    {% next_button %}

    <b>Contáctenos:</b>
    <br>
    <img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
    <br>
    <img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
    <br>
    <img height=10% width=20% src="{% static 'logoup.png'%}"/>
    
{% endblock %}


